.mayati {
    background-color: #fff;
    padding: 35px 0px;
}

.mayati-title {
    text-align: center;
    font-weight: bold;
    background-color: #014760;
    padding: 14px;
    border-radius: 7px;
    border: 1px solid #888;
    color: #ffffff;
}

.title-desS {
    font-weight: 700;
    text-align: center;
}

.title-des {
    margin-bottom: 0px;
}

#ma-top {
    margin-top: 3px;
    margin-bottom: 1px;
    border: none;
    cursor: pointer;
}

#ma-top:hover {
    font-size: 17px;
}

@media screen and (max-width: 780px) {
    #content {
        text-align: center;
    }
}

.borderr {
    padding-top: 5px;
}